<tabset style="position: absolute; left: 10%;" type="pills">
	<tab heading="Overview">{{selectedServer.name}}</tab>
	<tab heading="Properties">{{selectedServer.ip}}</tab>
	<tab heading="Backup">{{selectedServer.port}}</tab>
</tabset>


<div style="position: absolute; top: 10%;" class="btn-group-vertical">
	<label class="btn btn-primary" btn-radio="overview" ng-click="loadUrl('overview2')">Overview</label>
	<label ng-repeat="server in servers" ng-model="$parent.selectedServer" ng-click="loadSelectedServerInfo(server['_id'])" class="btn btn-primary" btn-radio="server">{{server.name}}</label>
</div>
