<tabset>
	<tab heading="General">
		<p>
			<div ng-switch="serverStatus">

				<!-- START SERVER -->
				<div ng-switch-when="Offline">
					<button style="width:80px;" class="btn btn-danger" ng-bind="$parent.serverStatus" ng-model="$parent.serverStatus" ng-click="$parent.startServer()"></button>
				</div>
				
				<!-- LOADING SERVER -->
				<div ng-switch-when="Loading">
					<button style="width:80px;" class="btn btn-warning" ng-bind="$parent.serverStatus" ng-disabled="$parent.serverStatus === 'Loading'"></button>
				</div>

				<!-- STOP SERVER -->
				<div ng-switch-when="Online">
					<button style="width:80px;" class="btn btn-success" ng-bind="$parent.serverStatus" ng-model="$parent.serverStatus" ng-click="$parent.stopServer()"></button>
				</div>
			<p>
				<div class="row">
					
					<progressbar max="max" value="dynamic">
						<span style="color:black; white-space:nowrap;">{{dynamic}} MB / {{max}} MB</span>
					</progressbar>
				</div>
			</p>
				<div ng-controller="chartCtrl">

				    <linechart style="height:700;width:1200px;" data="data" options="options" mode=""></linechart>

				  </div>

			</div>
		</p>
	</tab>
	
	<tab heading="Chat">
		<p>
			<div id="chatLinesContainer" scroll-glue style="overflow:auto;height:350px;width:800px;"></div>	
			<form ng-submit="pushChatData()" action="">
				<input type="text" ng-model="$parent.chatCommand" style="width:700px;">
				<button class="btn btn-default">Send</button>
			</form>
		</p>
		
	</tab>
	
	<tab heading="Settings" ng-controller="serverSettingsCtrl">
			<button class="btn btn-default" ng-click="showServerPropertiesModal()">Edit server properties</button>

			<button class="btn btn-default" ng-click="showWhitelistModal()">Edit whitelist</button>

	</tab>
</tabset>