<button class="btn btn-danger" ng-click="startServer()">Stop chat</button>

<tabset>
	<tab heading="General">
		<p>
			<div ng-switch="serverStatus">

				<!-- START SERVER -->
				<div ng-switch-when="Offline">
					<button class="btn btn-danger" ng-bind="$parent.serverStatus" ng-model="$parent.serverStatus" ng-click="$parent.startServer()"></button>
				</div>
				
				<!-- LOADING SERVER -->
				<div ng-switch-when="Loading">
					<button class="btn btn-warning" ng-bind="$parent.serverStatus" ng-disabled="$parent.serverStatus === 'Loading'"></button>
				</div>

				<!-- STOP SERVER -->
				<div ng-switch-when="Online">
					<button class="btn btn-success" ng-bind="$parent.serverStatus" ng-model="$parent.serverStatus" ng-click="$parent.stopServer()"></button>
				</div>
			
			</div>
		</p>
	</tab>
	
	<tab heading="Chat">
		<p>
			<div id="chatLinesContainer"></div>	
			<form ng-submit="pushChatData()" action="">
				<input type="text" ng-model="$parent.chatCommand">
				<button class="btn btn-default">Send</button>
			</form>
		</p>
	
		<!-- START CHAT 

		<div ng-switch-when="Disable">
			<button class="btn btn-danger" ng-bind="$parent.chatStatus" ng-model="$parent.chatStatus" ng-click="$parent.startChat()"></button>
		</div>
		
		<div ng-switch-when="Loading">
			<button class="btn btn-warning" ng-bind="$parent.chatStatus" ng-disabled="$parent.chatStatus === 'Loading'"></button>
		</div>

		<div ng-switch-when="Enable">
			<button class="btn btn-success" ng-bind="$parent.chatStatus" ng-model="$parent.chatStatus" ng-click="$parent.stopChat()"></button>
		</div>
		
		-->
		
		<button class="btn btn-primary" ng-click="$parent.startChat()">Start chat</button>
		<button class="btn btn-danger" ng-click="$parent.stopChat()">Stop chat</button>
	</tab>
	
	<tab heading="Options">
	
	</tab>
</tabset>