<div id="modalWrapper">

	<div>  
		<div class="modal-header">
			<h3 class="modal-title">Whitelist</h3>
		</div>
	</div>


	<div class="modal-body">
		<input placeholder="Filter username" type="text" ng-model="query">
		<ul>
			<li ng-repeat="username in $parent.whitelist | filter:query">
				<a href="" popover="as"  popover-trigger="mouseenter">{{username}}</a>
				
			</li>		
		</ul>

		<input type="text" ng-keyup="$event.keyCode == 13 ? $parent.addUser() : null" ng-model="$parent.user" placeholder="Enter username" class="form-control" style="width: 200px;">
		<button type="submit" class="btn btn-default" ng-click="$parent.addUser()">Add user</button>
	</div>

	<div class="modal-footer">
	  <button class="btn btn-primary" ng-click="ok()">OK</button>
	  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

</div>

